<!-- <?xml version="1.0" encoding="UTF-8"?>
<beans
xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"> 
                -->
                <beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">

   <context:annotation-config/>
 
 <!-- <bean id="traingle" class="practisesession.Traingle" >init-method="myinit" destroy-method="clean"
property name="point">
<list>
<ref bean="PointA"/>
<ref bean="PointB"/>
<ref bean="PointC"/>
</list>
</property>

 <property name="p1" ref="PointA"></property>
  <property name="p2" ref="PointB"></property>
  <property name="p3" ref="PointC"></property>
 
 
</bean>              
 -->
<bean id="PointA" class="practisesession.Point">
<qualifier value="hai"></qualifier>
<property name="x" value="0"></property>
<property name="y" value="0"></property>
</bean>               
               
<bean id="PointB" class="practisesession.Point">
<property name="x" value="5"></property>
<property name="y" value="7"></property>
</bean> 

<bean id="PointC" class="practisesession.Point">
<property name="x" value="8"></property>
<property name="y" value="4"></property>
</bean>                
               
               
               
 <bean class="practisesession.DisplayByName"></bean>
               
               
               
               
 
 <context:component-scan base-package="practisesession"></context:component-scan>
  <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
 <property name="basenames">
 <list >
 <value>MyFile</value>
 
 </list>
 
 </property>
 
 </bean>
 
 
  </beans>